:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color: #333;
    /* --primary-color: #ed4e2e; */
    --primary-color: #FF2700;
    --border-color: #dbdbdb;
    --star-gold-color:#FFCE3E;

    --header-height: 119px;
    --navbar-height: 34px;
    --header-with-search-height: calc( var(--header-height) - var(--navbar-height) );
    --header-sort-bar-height: 46px;
}
*{
    box-sizing: inherit;
}
html {
    /* Can chinh lai font-size htmt  */
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Responsive */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__colum-2{
padding-left:5px;
padding-right: 5px;
width: 16.6667%;
}
.grid__colum-2-4{
padding-left:5px;
padding-right: 5px;
width: 20%;
}
.grid__colum-10{
    padding-left:5px;
    padding-right: 5px;
    width: 83.3334%;
    }

/* Animation */
@keyframes fadeIn{
    from { 
        opacity:0;
    }
    to{ 
        opacity:1;    
}
}

@keyframes growth{
    from{
        transform: scale(0);
    }
    to{ 
        transform: scale(1);
    }
}
/* Modal */
.modal{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}
.modal__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal__body{
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}
/* button style */
.btn{
    min-width:124px;
    min-height:37px;
    text-decoration: none;
    border:none;
    border-radius:3px;
    font-size: 1rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content:center;
    line-height:1.6rem;
}
.btn.btn--nomal:hover{
    background-color: rgba(255,255,255,0.05)
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3
}

.btn--size-s{
    height:32px;
font-size: 20px;
padding: 0 8px;
border-radius: 2px ;
}

/* selection */
.select-input{
    min-width:200px;
height:37px;
padding: 0 12px;
border-radius: 2px;
background-color:var(--white-color);
display: flex;
align-items: center;
justify-content:space-between;
position: relative;

}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    border-radius: 2px;
    background-color: var(--white-color);
list-style: none;
padding: 1px 16px;
display: none;
z-index: 1;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__link{
    font-size:1.1rem;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    padding: 5px 0;
}

.select-input__link:hover{
color: var(--primary-color)
}

.pagination{
display: flex;
align-items: center;
justify-content:center;
list-style: none;

}
.pagination-item{
margin: 0 12px ;
}
.pagination-item__link{
    text-decoration: none;
    display:block;
    font-weight: 300;
    font-size: 1.5rem;
    color: #939393;
    min-width: 40px;
    height:35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
}
.pagination-item--active .pagination-item__link{
    background-color:var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover{
background-color:#ed5c3f;
}
